@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1px;
  min-height: 100%;
}

body {
  font-size: 16rem;
  background-color: $primary-background;
  height: 100%;
  min-height: 100vh;
  color: $primary-text-color;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a, li {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
}