@use "variables" as *;

:host {
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;

  > * {
    flex: 1 1 100%;
  }
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__circle {
    width: 50rem;
    height: 50rem;
    border-right: 1rem solid $loader-primary-color;
    border-left: 1rem solid $loader-primary-color;
    border-top: 1rem solid $loader-secondary-color;
    border-bottom: 1rem solid $loader-secondary-color;
    border-radius: 50%;
    animation: spin 1s ease infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}