<form (ngSubmit)="onSubmit()" [formGroup]="form()" class="form">
    <h1 class="form__title">{{ title() }}</h1>
    @for (field of fields(); track field.name) {
        <div class="form__field">
            <label [for]="field.name" class="form__label">{{ field.label }}</label>
            <input
                    [autocomplete]="field.autocomplete"
                    [formControlName]="field.name"
                    [id]="field.name"
                    [name]="field.name"
                    [placeholder]="field.placeholder"
                    [type]="field.type"
                    class="form__input"
            />
            @let error = getError(field.name);
            @if (error) {
                <span class="form__error">* {{ error }}</span>
            }
        </div>
    }
    <button class="form__button" type="submit">{{ submitText() }}</button>
</form>