@use "variables" as *;
:host {
  display: contents;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20rem;
  border: 1rem solid $border-color;
  padding: 20rem 15rem;
  border-radius: 20rem;

  &__title {
    text-align: center;
    font-size: 32rem;
  }

  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  &__label {
    font-size: 18rem;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    outline: none;

    &, &::placeholder {
      padding: 5rem 10rem;
      color: $primary-text-color;
    }
  }

  &__button {
    padding: 15rem 10rem;
    border: none;
    outline: none;
    font-size: 20rem;
    border-radius: 10rem;
    color: $primary-text-color;
    transition: .3s all ease;
    cursor: pointer;

    &[type="submit"] {
      background-color: $submit-background;

      &:hover {
        background-color: $submit-hover-background;
      }
    }

    &[disabled] {
      background-color: $button-disabled-background;
      cursor: not-allowed;
    }
  }

  &__error {
    color: $error-text-color;
  }
}