:host {
  display: contents;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20rem;

  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  &__label {
    font-size: 18rem;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    outline: none;
  }
}