@use "border" as *;
:host {
  display: contents;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20rem;
  @include border();
  padding: 20rem 15rem;
  border-radius: 20rem;
}