@use 'variables' as *;

:host {
  display: contents;
}

.form {
  max-width: 800rem;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20rem;
  }
}
