@use "variables" as *;
:host {
  overflow: hidden;
  transition: .3s all ease;
  border-radius: 10rem;
  * {
    transition: .3s all ease;
  }
  &:hover {
    background-color: $primary-hover-background;
  }
  &._active {
    * {
      color: $primary-text-color;
    }
  }
}