@use 'variables' as *;
:host {
  display: contents;
}

.button {
  padding: 10rem;
  border-radius: 10rem;
  border: none;
  outline: none;
  font-size: 24rem;
  transition: 0.3s all ease;
  width: 100%;
  color: $primary-text-color;
  cursor: pointer;
  &[type='submit'] {
    background-color: $submit-background;
    &:hover {
      background-color: $submit-hover-background;
    }
  }
  &:disabled {
    background-color: $button-disabled-background;
    cursor: not-allowed;
    &:hover {
      background-color: $button-disabled-background;
    }
  }
}
