@use "variables" as *;

:host {
  display: contents;
}

.button {
  padding: 15rem 10rem;
  border: none;
  outline: none;
  font-size: 20rem;
  border-radius: 10rem;
  color: $primary-text-color;
  transition: .3s all ease;
  cursor: pointer;

  &[type="submit"] {
    background-color: $submit-background;

    &:hover {
      background-color: $submit-hover-background;
    }
  }

  &[disabled] {
    background-color: $button-disabled-background;
    cursor: not-allowed;
  }
}