@use "../../../../styles/variables" as *
@use "../../../../styles/custom-scrollbar" as *
@use "../../../../styles/border" as *

:host
  display: contents

.sidebar
  background-color: $sidebar-background-color
  height: 100vh
  overflow-y: scroll
  flex: 0 0 400rem
  display: flex
  align-items: stretch
  @include custom-scrollbar()
  @include border()
