@use "variables" as *;
:host {
  display: contents;
}

.message-list {
  padding: 20rem 0;
  overflow-y: scroll;
  ul {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 10rem;
    padding-right: 20rem;
    @media (pointer: coarse) {
      padding-right: 0;
    }
    &._my {
      align-self: flex-end;
      flex-direction: row-reverse;
    }
  }
  &__description {
    background-color: $secondary-background;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 10rem 15rem;
    border-radius: 20rem;
  }

  &__text {
    font-size: 24rem;
    @media (max-width: 768px) {
      font-size: 16rem;
    }
  }

  &__date {
    font-size: 14rem;
    color: $icon-color;
  }
}