<div class="message-list">
    <ul>
        @for (message of messages(); track message.updatedAt.toISOString()) {
            <li
                    class="message-list__item"
                    [class._my]="isMy(message)"
            >
                @if (message.author) {
                    <app-user-avatar [user]="message.author" />
                } @else {
                    <app-avatar type="named" value="⌫" />
                }
                <div class="message-list__description">
                    <span class="message-list__text">{{message.text}} {{message.suggested ? '✔️' : '❌'}}</span>
                    <time class="message-list__date" [attr.datetime]="message.updatedAt.toISOString()">{{formatDate(message.updatedAt)}}</time>
                </div>
            </li>
        }
    </ul>
</div>