:host {
  display: contents;
}

.chat-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30rem;
  padding: 15rem 0;
  &__left {
    display: flex;
    align-items: center;
    gap: 15rem;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 10rem;
  }
}