@use 'variables' as *;
:host {
  display: contents;
}

.input {
  padding: 10rem;
  border-radius: 10rem;
  outline: none;
  border: none;
  border: 2rem solid $border-color;
  transition: 0.3s all ease;
  &,
  &::placeholder {
    color: $icon-color;
    font-size: 14rem;
  }
  &:focus,
  &:hover {
    border-color: $primary-text-color;
    &,
    &::placeholder {
      color: $loader-primary-color;
    }
  }
  &._invalid {
    border: 1rem solid $error-text-color;
  }
}
