<div class="settings-bar">
    <app-heading tag="h2" text="Налаштування" />
    <ul>
        @for (item of menu(); track item.path) {
            <li>
                <a
                        [routerLink]="getLink(item)"
                        class="settings-bar__card"
                        [class._active]="isActive(item)"
                >
                    @if (item.icon) {
                        <app-icon [icon]="item.icon" />
                    }
                    <span class="settings-bar__name">{{item.title}}</span>
                </a>
            </li>
        }
    </ul>
</div>