@use "variables" as *;
@use "hover" as *;
:host {
  display: contents;
}

.settings-bar {
  ul {
    padding: 20rem 0;
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  &__card {
    display: flex;
    align-items: center;
    padding: 10rem 20rem;
    gap: 10rem;
    font-size: 20rem;
    border-radius: 5rem;
    @include hover();
    app-icon {
      color: $primary-text-color;
    }
    &._active {
      background-color: $primary-hover-background;
    }
  }
}