@use 'hover' as *;
@use 'variables' as *;
:host {
  display: contents;
}

.contacts-list {
  padding: 10rem 0;
  ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 15rem;
    @include hover();
    &._active {
      background-color: $primary-hover-background;
      border-radius: 10rem;
    }
  }
  &__name {
    font-size: 24rem;
  }
}
