@use "variables" as *

$scrollbar-thumb: #888
$scrollbar-track: $border-color

@mixin custom-scrollbar
  *
    scrollbar-width: thin
    scrollbar-color: $scrollbar-thumb $scrollbar-track
  &::-webkit-scrollbar
    width: 1rem
    height: 1rem

  &::-webkit-scrollbar-track
    background: $scrollbar-track

  &::-webkit-scrollbar-thumb
    background: $scrollbar-thumb
    border-radius: 10px
    border: 2px solid $scrollbar-track

  &::-webkit-scrollbar-thumb:hover
    background: #555
