[data-theme="dark"]
  --primary-background-color: #131313
  --sidebar-background-color: #2e1d06

[data-theme="light"]
  --primary-background-color: #ffffff
  --sidebar-background-color: #b8b7af

$primary-background-color: var(--primary-background-color)
$sidebar-background-color: var(--sidebar-background-color)
