<form (ngSubmit)="handler()" [formGroup]="formGroup()" class="form">
  <h1 class="title">{{ title() }}</h1>
  @for (field of fields(); track field) {
    @let error = getError(field.name);
    <label class="field">
      <span class="label">{{ field.label }}</span>
      <input
        [formControlName]="field.name"
        [name]="field.name"
        [placeholder]="field.placeholder"
        [type]="field.type"
        class="input"
      />
      @if (error) {
        <div class="error">
          {{ error }}
        </div>
      }
    </label>
  }
  <button [disabled]="formGroup().invalid" class="button" type="submit">{{ submitText() }}</button>
</form>
