@use "variables" as *
:host
  display: contents


.form
  width: 100%
  border: 1rem solid $border-color
  padding: 30rem
  border-radius: 40rem

  &__title
    text-align: center

    &:not(:last-child)
      margin-bottom: 15rem

  &__fields
    display: flex
    flex-direction: column
    gap: 15rem

    &:not(:last-child)
      margin-bottom: 15rem

  &__field
    display: flex
    flex-direction: column
    gap: 5rem

  &__label
    font-size: 24rem

    &:not(:last-child)
      margin-bottom: 5rem

  &__input
    border: none
    outline: none
    border-radius: 5rem
    background-color: $input-background-color
    &, &::placeholder
      font-size: 16rem
      padding: 10rem
      color: $primary-text-color

  &__error
    color: $error-color
    font-size: 16rem

  &__submit
    font-size: 30rem
    width: 100%
    padding: 5rem
    text-align: center
    border-radius: 15rem
    border: none
    outline: none
    cursor: pointer
    background-color: $success-background-color
    color: $primary-text-color
    transition: .3s all ease

    &:hover
      background-color: $success-hover-background-color

    &[disabled]
      cursor: not-allowed
      background-color: $disabled-background-color
