@use "variables" as *;

:host {
    display: contents;
}

.left-sidebar {
    border-right: 2rem solid $border-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    justify-content: space-between;
}