@use "border" as *;
:host {
  display: contents;
}

.left-sidebar {
  @include border('right');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  overflow-y: hidden;
  app-toggle-sidebar {
    margin: 0 auto;
  }
}