@use "variables" as *;

@mixin border($position: '', $width: 1rem) {
  $value: $width solid $border-color;
  @if ($position == '') {
    border: $value;
  } @else {
    border-#{$position}: $value;
  }
}