@use "variables" as *;

@mixin border($position: '', $width: 1rem, $color: $border-color) {
  $value: $width solid $color;
  @if ($position == '') {
    border: $value;
  } @else {
    border-#{$position}: $value;
  }
}