:root {
  color-scheme: light dark;
}

$primary-background: light-dark(#fff, #1b1818);
$secondary-background: light-dark(#fff, #2c1f06);
$loader-primary-color: light-dark(#fff, #fffdfd);
$loader-secondary-color: light-dark(#fff, #c1c1c1);