[data-theme="dark"]
  --primary-background-color: #131313
  --sidebar-background-color: #333232
  --primary-text-color: #fff
  --border-color: darkgrey
  --error-color: #CF6679
  --success-background-color: #10b981
  --success-hover-background-color: #059669
  --disabled-background-color: #6fd5b3
  --input-background-color: #323030
  --icon-color: #a6a5a5
  --icon-hover-color: #474646

[data-theme="light"]
  --primary-background-color: #ffffff
  --sidebar-background-color: #b8b7af
  --primary-text-color: #000
  --border-color: darkgrey
  --error-color: #cd2323
  --success-background-color: #430093
  --success-hover-background-color: #10b981
  --disabled-background-color: #6fd5b3
  --input-background-color: #000
  --icon-color: #323030
  --icon-hover-color: #393737

$primary-background-color: var(--primary-background-color)
$sidebar-background-color: var(--sidebar-background-color)
$primary-text-color: var(--primary-text-color)
$border-color: var(--border-color)
$error-color: var(--error-color)
$success-background-color: var(--success-background-color)
$success-hover-background-color: var(--success-hover-background-color)
$disabled-background-color: #6fd5b3
$input-background-color: var(--input-background-color)
$icon-color: var(--icon-color)
$icon-hover-color: var(--icon-hover-color)
