@use "variables" as *;
:host {
  display: contents;
}

.sidebar-menu {
  ul {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    .action-icon {
      display: block;
      padding: 10rem 20rem;
    }
  }
}