@use "../../../../shared/styles/variables" as *
:host
  display: contents

.sidebar
  &__menu ul
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 10rem
    padding: 5rem

    a
      display: block
      padding: 10rem 20rem
      border-radius: 10rem
      transition: .3s all ease
      text-align: center

      .sidebar__icon
        font-weight: normal
        color: $icon-color
        transition: .3s all ease

      &._active
        .sidebar__icon
          color: $primary-text-color

      &:hover
        background-color: $icon-hover-color
