:host
  display: contents

.chat
  &-head
    border-bottom: 2rem solid darkgray
    padding: 10rem
    display: flex
    align-items: center
    justify-content: space-between
    flex: 0 0 auto

    &__right
      display: flex
      align-items: center
      gap: 10rem

    &__button
      font-size: 25rem
      cursor: pointer
      outline: none
      background: transparent
      border: 1rem solid darkgray
      padding: 5rem
      border-radius: 10rem
      transition: .3s all ease

      &:hover
        background-color: #1e1e1e
        color: white
