:host
  display: contents

.message
  display: flex
  align-items: center
  gap: 5rem

  &._my-message
    flex-direction: row-reverse
    align-self: flex-end

  &__author
    border: 1rem solid black
    border-radius: 50%

  &__top
    display: flex
    align-items: center
    gap: 3rem
