@use "border" as *;
@use "variables" as *;
:host {
  display: contents;
}

.right-sidebar {
  flex: 1 1 auto;
  overflow-y: auto;
  min-width: 250rem;
  @include border('right');
  @media (max-width: 768px) {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 65rem;
    right: 0;
    bottom: 0;
    background-color: $secondary-background;
  }
}