@use "variables" as *
:host
  display: contents

.chats
  width: 100%

  &__list
    display: flex
    flex-direction: column
    gap: 5rem

  &__item
    padding: 10rem
    border-radius: 10rem
    display: flex
    align-items: center
    gap: 5rem
    justify-content: space-between
    transition: .3s all ease

    &:hover
      background-color: $icon-hover-color
