.context
  overflow: hidden
  border-radius: 10rem

  a
    display: block
    transition: all .3s ease
    padding: 10rem 20rem
    background-color: #0751e3

    &:hover
      background-color: #5187fb
