:host {
  display: contents;
}

.send-message {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20rem;

  form {
    max-width: 500rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }
}
