@use "variables" as *;
:host {
  display: contents;
}

.empty-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    background-color: $secondary-background;
    padding: 10rem 20rem;
    border-radius: 10rem;
    font-size: 24rem;
  }
}