.chat
  height: 100%
  display: flex
  flex-direction: column
  .no-chats
    margin: auto
    font-size: 35rem

  &-messages
    flex: 1 1 auto

  &-send-message
    border-top: 1rem solid darkgray

    form
      display: flex
      align-items: stretch

      input
        border: none
        outline: none
        flex: 1 1 auto
        padding: 20rem
        border-right: 1rem solid darkgray

      button
        outline: none
        border: none
        background: transparent
        padding: 10rem
        font-size: 20rem
        cursor: pointer
        transition: .3s all ease

        &:hover
          background-color: #1e1e1e
          color: white
